---
layout: default
---


<section>

    <div class="article-post">
        <div class="row justify-content-between">
            <div class="col-md-8 pr-5 d-flex" style="flex-direction: column; line-height: 1.8em; font-size: 18px; font-family: Arial; max-width: 80ch;">        
                <h2><span>{{ page.title }}</span></h2>
                {{content}}
            </div>
            <div class="col-md-4 text-center" style="position: sticky;">
                <img src="assets/images/avatar.jpg" style="max-width:264px;max-height:264px;width:auto;height:auto;border-radius:50%" />
                <p style="padding-top: 1em"><b>Carlos Outeiral</b></p>
                <p style="padding-top: 1em; font-size: .8em">I am an Eric Schmidt <i>AI in Science</i> fellow at the University of Oxford, where I am also a Stipendiary Lecturer in Biochemistry. I write about AI, protein science and the future of techbio.</p>
            </div>
        </div>            
    </div>

</section>